@inherits LayoutComponentBase

<FluentMainLayout>
    <Header>ReadiFlip</Header>
    <Body>
        @Body
    </Body>
</FluentMainLayout>

<FluentToastProvider />
<FluentDialogProvider />
<FluentTooltipProvider />
<FluentMessageBarProvider />
<FluentMenuProvider />